.artifacts {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  &-header {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 20px;
    background: var(--primary);
  }
  &-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  &-content {
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    background-color: var(--primary);
  }
}

.artifacts-iframe {
  width: 100%;
  border: var(--border-in-light);
  border-radius: 6px;
  background-color: var(--gray);
}

.artifacts-runing-code {
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.artifacts-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 7px;
  font-size: 12px;
}